@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~geist/fonts/geist-sans.css';

* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Geist Sans', sans-serif;
}

:root {
  --bg-dark-mode: rgb(22, 22, 22);
  --bg-light-mode: rgb(252, 252, 252);
  --title-light-mode: rgb(23, 23, 23);
  --title-dark-mode: rgb(255, 255, 255);
  --text-light-mode: rgb(64, 64, 64);
  --text-dark-mode: rgba(255, 255, 255, 0.8);
  --small-text-light-mode: rgb(111, 111, 111);
  --small-text-dark-mode: rgb(160, 160, 160);
  --bg-card-light-mode: hsla(0, 0%, 98%, 0.7);
  --outline-light-mode: '#e4e4e7';
  --bg-card-dark-mode: rgba(24, 24, 27, 0.2);
  --outline-dark-mode: '#1a1a1a';
  --icon-dark-mode: rgb(161, 161, 170);
  --icon-light-mode: rgb(23, 23, 23);
}
