@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~geist/fonts/geist-sans.css';

* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Geist Sans', sans-serif;
}

:root {
  --bg-dark-mode: rgb(22, 22, 22);
  --bg-light-mode: #fcfcfc;
  --title-light-mode: rgb(23, 23, 23);
  --title-dark-mode: rgb(255, 255, 255);
  --text-light-mode: rgb(64, 64, 64);
  --text-dark-mode: rgba(255, 255, 255, 0.8);
  --small-text-light-mode: rgb(111, 111, 111);
  --small-text-dark-mode: rgb(160, 160, 160);
  --bg-card-light-mode: rgba(250, 250, 250, 0.7);
  --outline-light-mode: #e4e4e7;
  --bg-card-dark-mode: rgba(24, 24, 27, 0.2);
  --outline-dark-mode: #1a1a1a;
  --icon-dark-mode: rgb(161, 161, 170);
  --icon-light-mode: rgb(23, 23, 23);
}

.timeline-scroll {
  animation-timeline: scroll(root block);
}

.timeline-scroll-header {
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
}

@keyframes enhance-header-light {
  to {
    background: rgba(250, 250, 250, 0.4);
    backdrop-filter: blur(5px);
    padding-top: 1px;
    font-size: large;
  }
}

@keyframes enhance-header-dark {
  from {
    padding-top: 8px;
  }
  to {
    background: rgba(22, 22, 22, 0.4);
    backdrop-filter: blur(5px);
    padding-top: 1px;
    font-size: large;
  }
}

@keyframes expand-header {
  to {
    outline: none;
    border: none;
    padding: 0.5rem;
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}
